@import 'constants';

.new-thing {
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .categories > button {
        display: block;
    }
    .title-create {
        display: block;
    }
    .delete {
        margin-left: 20px;
    }
    > div, .category, .title-create, .feature > *, .send, select {
        margin-top: 10px;
    }
    .category, .feature {
        display: block;
        margin-left: 30px;
    }
    .space {
        margin-right: 20px;
    }
}